.sidebar {
    width: 264px;
    height: 100vh;
    padding: 18px;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.menuContainer { 
    margin-top: 33px;   
}

.menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.menuItem { 
  padding: 5px 0;
  /* Additional styling for menu items */
  padding: 8px 20px;
  display: flex;
  column-gap: 12px;
  align-items: center;
}
  
.selected {
  background-color: #606468;
  border-radius: 16px;
  color: white;
}

.menuItem i { 
  font-size: 14px;
}


.sidebar img { 
    width: 75px;
    height: 110px;
}