.dataDetailsWrapper { 
    padding: 100px 20px;
}

.dataTitle h3 { 
    margin-bottom: 0;
    font-size: 24px;
}

.dataTitle p:nth-child(2) { 
    margin-bottom: 0;
}

.dataTitle p:nth-child(3) {
    color: #7f7f7f;
}

.dataTitle p {
    font-size: 14px;
}

.tabContainer {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.tab {
    position: relative;
    padding: 12px 24px;
    margin-right: 4px;
    cursor: pointer;
    border-bottom: 2px solid #adb2c0;
    transition: color 0.3s ease, border-bottom-color 0.3s ease; /* Add transition for color and border bottom color */
    color: #7f7f7f; /* Default tab color */
}

.tab:focus {
    outline: none;
    border-bottom: 2px solid #3164f4;
}

.tab.active {
    color: #3164f4; /* Active tab color */
    border-bottom: 2px solid #3164f4; /* Active tab border bottom color */
}

.tab.active::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 50%;
    transform: translateX(-50%);
    width: fit-content; /* Adjust the width to fit the text */
    height: 2px;
    background-color: #3164f4;
    transition: width 0.3s ease; /* Add transition for width */
}

.tab:last-child::after {
    display: none; /* Ensure last tab doesn't have underline */
}

.table-container {
    margin: auto; /* Membuat tabel berada di tengah */
    width: 50%; /* Atur lebar tabel */
}

table {
    width: 100%;
    border-collapse: collapse; /* Menggabungkan batas */
}

th, td {
    border: none; /* Menghapus batas bawa dan kiri */
    border-bottom: 1px solid #000; /* Menambahkan batas bawah */
    padding: 8px; /* Menambahkan padding */
    text-align: left; /* Menyusun teks ke kiri */
}

/* Membuat batas bawah untuk semua baris kecuali baris terakhir */
tr:not(:last-child) {
    position: relative;
}

tr:not(:last-child)::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 0%;
    border-bottom: 1px solid #000;
}

/* Kolom pertama */
th:first-child,
td:first-child {
    width: 50%; /* Menetapkan lebar */
    font-size: 18px; /* Ukuran teks diperbesar */
    font-weight: bold; /* Membuat teks tebal */
    vertical-align: middle; /* Mengatur posisi vertikal ke tengah */
    padding: 20px; /* Menambahkan padding untuk meningkatkan ketinggian */
    font-size: 19px; /* Ukuran teks diperbesar */
    font-weight: bold; /* Membuat teks tebal */
}


td:nth-child(2) {
    width: 50%;
    font-size: 15px; 
    text-align: justify; 
}
